<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-init-method="customInit" default-destroy-method="customDestroy">



    <bean id="actorA" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Yash"></constructor-arg>
        <constructor-arg name="gender" value="Male" ></constructor-arg>
        <constructor-arg name="age" value="38"></constructor-arg>
    </bean>


    <bean id="actorB" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Sudeep"></constructor-arg>
        <constructor-arg name="gender" value="Male" ></constructor-arg>
        <constructor-arg name="age" value="40"></constructor-arg>
    </bean>

    <bean id="actorC" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Radhika"></constructor-arg>
        <constructor-arg name="gender" value="Female" ></constructor-arg>
        <constructor-arg name="age" value="28"></constructor-arg>
    </bean>

    <bean name="movie1,movie" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorA"></constructor-arg>
    </bean>

    <bean id="movie2" class="com.stackroute.domain.Movie" scope="prototype" autowire="byName">
    </bean>

    <bean id="movie3" class="com.stackroute.domain.Movie" scope="prototype">
        <constructor-arg name="actor" ref="actorC"></constructor-arg>
    </bean>

    <bean id="BeanLifeCycleDemoBean" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit" destroy-method="customDestroy2" ></bean>

</beans>